OTS/bin/Debug/net5.0-windows/OTS.dll
OTS/bin/Debug/net5.0-windows/OTS.pdb
OTS/bin/Debug/net5.0-windows/OTS.dll
OTS/obj/Debug/net5.0-windows/OTS.assets.cache
OTS/obj/Debug/net5.0-windows/OTS.csproj.AssemblyReference.cache
OTS/obj/Debug/net5.0-windows/OTS.csproj.CoreCompileInputs.cache
OTS/obj/Debug/net5.0-windows/OTS.csproj.GenerateResource.cache
OTS/obj/Debug/net5.0-windows/OTS.csproj.FileListAbsolute.txt
OTS/obj/Debug/net5.0-windows/OTS.designer.deps.json
OTS/obj/Debug/net5.0-windows/OTS.dll
OTS/obj/Debug/net5.0-windows/OTS.designer.runtimeconfig.json
OTS/obj/Debug/net5.0-windows/OTS.GeneratedMSBuildEditorConfig.editorconfig
OTS/obj/Debug/net5.0-windows/OTS.pdb
OTS/obj/Debug/net5.0-windows/ref/OTS.dll
OTS/obj/Debug/net5.0-windows/refint/OTS.dll
OTS/obj/OTS.csproj.nuget.dgspec.json
OTS/obj/project.assets.json
OTS/obj/OTS.csproj.nuget.g.props
OTS/obj/project.nuget.cache
OTS/bin/Debug/net5.0-windows/OTS.pdb
OTS/bin/Debug/net5.0-windows/OTS.dll
OTS/obj/Debug/net5.0-windows/OTS.assets.cache
OTS/obj/Debug/net5.0-windows/OTS.csproj.AssemblyReference.cache
OTS/obj/Debug/net5.0-windows/OTS.csproj.CoreCompileInputs.cache
OTS/obj/Debug/net5.0-windows/OTS.csproj.GenerateResource.cache
OTS/obj/Debug/net5.0-windows/OTS.csproj.FileListAbsolute.txt
OTS/obj/Debug/net5.0-windows/OTS.designer.deps.json
OTS/obj/Debug/net5.0-windows/OTS.dll
OTS/obj/Debug/net5.0-windows/OTS.designer.runtimeconfig.json
OTS/obj/Debug/net5.0-windows/OTS.GeneratedMSBuildEditorConfig.editorconfig
OTS/obj/Debug/net5.0-windows/OTS.pdb
OTS/obj/Debug/net5.0-windows/ref/OTS.dll
OTS/obj/Debug/net5.0-windows/refint/OTS.dll
OTS/obj/OTS.csproj.nuget.dgspec.json
OTS/obj/project.assets.json
OTS/obj/OTS.csproj.nuget.g.props
OTS/obj/project.nuget.cache
OTS/obj/Debug/net5.0-windows/OTS.assets.cache
OTS/obj/Debug/net5.0-windows/OTS.csproj.FileListAbsolute.txt
OTS/obj/Debug/net5.0-windows/OTS.assets.cache
